*,
*::before,
*::after {
    box-sizing: border-box;
}

/*Format*/

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color:  hsl(30, 38%, 92%);
}

.main-container {
    display: flex;
    margin: auto;
    flex-direction: row-reverse;
    max-height: 900px;
    box-sizing: border-box;

}
.main-container div {
    flex: 1;

}

.text {
background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
    border-radius: 0 2.5% 2.5% 0;       
    text-align: left;  /*Why dont work*/ 
    padding-left: 5em;
    text-align: left;
max-width: 1200px;
}



.img {
    background: url("image-product-desktop.jpg");
    max-width: 600px;
    border-radius:  2.5% 0 0  2.5% ;
}


/*Text*/

.Grey {color:  hsl(228, 12%, 48%); font-size: 2em; font-weight: 100;}
.Black {color: black;}
.Green {color: hsl(158, 36%, 37%);}
.Montserrat {font-family: Montserrat;}
.Fraunces {font-family: Fraunces;}
.Price {display: inline-block;} /*Why dont work*/
.text h3{letter-spacing: .4em; padding-top: .7em; margin-bottom: 0%;}
.Black, .Green{font-size: 4em;}





@media (max-width: 1000px) {
    .main-container {
        flex-direction: column-reverse;
        max-width: 600px;
    }
      .img {
        background: url("image-product-mobile.jpg");
        max-height: 480px;
    }

}