*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Main Format */

body {
  background-color: hsl(30, 38%, 92%);
  max-width: 600px;
  margin: auto;
}

main {
  display: flex;
  align-items: center;
  min-height: 100vh;
}

.card {
  display: flex;
}

.card div {
  flex: 1;
}

/* Sub Format */
.card-1 {
  background-image: url(./images/image-product-desktop.jpg);
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 2.5% 0 0 2.5%;
  padding: 2rem;
}

.card-2 {
  background-color: white;
  border-radius: 0 2.5% 2.5% 0;
  padding: 2rem;
  text-align: left;
}

.button {
  outline: none;
  border: none;
  height: 15%;
  font-size: 1rem;
  font-weight: 700;
  background-color: hsl(158, 36%, 37%);
  color: hsl(0, 0%, 100%);
  align-items: center;
  text-align: center;
  width: 100%;
  border-radius: 5px;
  margin-top: 10%;
  margin-bottom: 10%;
}

.button:hover {
  background-color: hsl(158, 51%, 13%);
  cursor: pointer;
}

i {
  padding-right: .5rem;
}

/* Text mods */
h1 {
  font-size: 2rem;
}

h2 {
  font-size: 0.9rem;
  line-height: 1.5rem;
  font-weight: 100;
}

h3 {
  font-size: 0.75rem;
  letter-spacing: 0.3rem;
  font-weight: 100;
}

.Grey {
  color: hsl(228, 12%, 48%);
}

.Black {
  color: black;
}

.Green {
  color: hsl(158, 36%, 37%);
}

.Price {
  display: inline;
  text-align: left;
  vertical-align: middle;
}

.Montserrat {
  font-family: Montserrat;
}

.Fraunces {
  font-family: Fraunces;
}

.card-2 h3 {
  margin-top: 0%;
}

.Green.Price.Fraunces {
  padding-right: 1rem;
}

@media (max-width: 640px) {
  body {
    padding: 1.6rem 1rem;
  }

  .card {
    flex-direction: column;
  }

  .card-1 {
    min-height: 250px;
    background-image: url(./images/image-product-mobile.jpg);
    border-radius: 3% 3% 0% 0%;
  }

  .card-2 {
    border-radius: 0 0 3% 3%;
    padding: 1.5rem;
  }

  .button {
    height: 42px;
    margin: 7% 0 0 0;

  }

  h1.Black.Fraunces {
    margin: 0 0 0.7rem 0;
  }

  main {
    align-items: baseline;
  }
}